.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    border-radius: 10px;
    overflow: hidden;
}
.quadrant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border: 0.5px solid #f6f0f0;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;    
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    user-select: none;
}
.quadrant h2, .quadrant p { transition: opacity 0.4s ease; }

.quadrant.active {
    box-shadow: inset 0 0 100px rgba(0,0,0,0.1);
}

.quadrant.active h2, .quadrant.active p { 
    opacity: 2; 
    color: rgb(70, 67, 67);
    transform: translateY(0);
}
h2 { font-size: 4rem; margin: 0; }
p { font-size: 1rem; margin-top: 5px; }

